header {
	background-color: #F15B31;
	padding: 30px 20px;
}

body {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}
nav {
	background-color: #00A6B3;
	padding: 20px 0;
}
a {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}
p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}
 h3 {
 	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 15px;
 }
 main {
 	width: 850px;
 	margin: 35px auto;
 }
 button {
 	width: 100px;
 	height: 50px;
 	background-color: #F15B31;
 	font-family: "Raleway", sans-serif;
	color: white;
	font-size: 20px;
 }
 img {
 	margin: 40px 8px 0;
 }
 footer {
 	text-decoration: uppercase;
 	padding: 0 20px;
 	background-color: #0D2C40;
 	color: white;
 	font-size: 14px;
 	letter-spacing: .08em;
 	font-weight: 500;
 }
 .copyright {
 	font-family: "Raleway", sans-serif;
 	float: left;
 }
 .message {
 	font-family: "Raleway", sans-serif;
 	float: right;
 }
 .clearfix:after {
 	visibility: hidden;
 	display: block;
 	content: " ";
 	clear: both;
 	height: 0;
 	font-size: 0;
 }
 .name {
 	color: #F15B31;
 	font-weight: 700;
 }
 a:hover {
 	border-color: white;
 }

/*Modals*/

.container {
	font-family: "Raleway", sans-serif;
	z-index: 0;
	padding-top: 10px;
	left: 0;
	top: 0;
	overflow: auto;
	background-color: rgb(0, 0, 0, 0.9);
}

.modal-body {
	font-family: "Raleway", sans-serif;
	color: white;
	text-align: center;
	background-color: #00A6B3;
	border-radius: 30px;
	width: 50%;

}
.win-content {
	background-color: #F15B31;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 30px;
	width: 80%;
} 

.lose-content {
	background-color: #F15B31;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 30px;
	width: 80%;
} 

.close {
	color: black;
	font-size: 40px;
	font-weight: bold;

}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}